TYEx/TYClient/Connected Services/TYService/TyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/TYExServiceCore/Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/TYExServiceCore/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/TYExServiceCore/Service/?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITyService_Fun_InputMessage">
    <wsdl:part name="parameters" element="tns:Fun" />
  </wsdl:message>
  <wsdl:message name="ITyService_Fun_OutputMessage">
    <wsdl:part name="parameters" element="tns:FunResponse" />
  </wsdl:message>
  <wsdl:message name="UpFile">
    <wsdl:part name="parameters" element="tns:UpFile" />
  </wsdl:message>
  <wsdl:message name="UpFile_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="FilePath" element="tns:FilePath" />
    <wsdl:part name="FileSize" element="tns:FileSize" />
  </wsdl:message>
  <wsdl:message name="UpFileResult">
    <wsdl:part name="parameters" element="tns:UpFileResult" />
  </wsdl:message>
  <wsdl:message name="UpFileResult_Headers">
    <wsdl:part name="IsSuccess" element="tns:IsSuccess" />
    <wsdl:part name="Message" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="DownFile">
    <wsdl:part name="parameters" element="tns:DownFile" />
  </wsdl:message>
  <wsdl:message name="DownFile_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="FilePath" element="tns:FilePath" />
  </wsdl:message>
  <wsdl:message name="DownFileResult">
    <wsdl:part name="parameters" element="tns:DownFileResult" />
  </wsdl:message>
  <wsdl:message name="DownFileResult_Headers">
    <wsdl:part name="FileSize" element="tns:FileSize" />
    <wsdl:part name="IsSuccess" element="tns:IsSuccess" />
    <wsdl:part name="Message" element="tns:Message" />
  </wsdl:message>
  <wsdl:portType name="ITyService">
    <wsdl:operation name="Fun">
      <wsdl:input wsaw:Action="http://tempuri.org/ITyService/Fun" message="tns:ITyService_Fun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITyService/FunResponse" message="tns:ITyService_Fun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpLoadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITyService/UpLoadFile" name="UpFile" message="tns:UpFile" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITyService/UpLoadFileResponse" name="UpFileResult" message="tns:UpFileResult" />
    </wsdl:operation>
    <wsdl:operation name="DownLoadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITyService/DownLoadFile" name="DownFile" message="tns:DownFile" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITyService/DownLoadFileResponse" name="DownFileResult" message="tns:DownFileResult" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITyService" type="tns:ITyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fun">
      <soap:operation soapAction="http://tempuri.org/ITyService/Fun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpLoadFile">
      <soap:operation soapAction="http://tempuri.org/ITyService/UpLoadFile" style="document" />
      <wsdl:input name="UpFile">
        <soap:header message="tns:UpFile_Headers" part="FileName" use="literal" />
        <soap:header message="tns:UpFile_Headers" part="FilePath" use="literal" />
        <soap:header message="tns:UpFile_Headers" part="FileSize" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpFileResult">
        <soap:header message="tns:UpFileResult_Headers" part="IsSuccess" use="literal" />
        <soap:header message="tns:UpFileResult_Headers" part="Message" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownLoadFile">
      <soap:operation soapAction="http://tempuri.org/ITyService/DownLoadFile" style="document" />
      <wsdl:input name="DownFile">
        <soap:header message="tns:DownFile_Headers" part="FileName" use="literal" />
        <soap:header message="tns:DownFile_Headers" part="FilePath" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DownFileResult">
        <soap:header message="tns:DownFileResult_Headers" part="FileSize" use="literal" />
        <soap:header message="tns:DownFileResult_Headers" part="IsSuccess" use="literal" />
        <soap:header message="tns:DownFileResult_Headers" part="Message" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TyService">
    <wsdl:port name="BasicHttpBinding_ITyService" binding="tns:BasicHttpBinding_ITyService">
      <soap:address location="http://localhost/TYExServiceCore/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>